.app__header{
    background-color: var(--color-black);
}

.app__header-h1{
    font-family: (--font-base);
    color: var(--color-golden);
    letter-spacing: 0.10rem;
    text-transform: uppercase;
    line-height: 60px;
    font-size: 35px;
}


/* .app__header-img img{
    width: 100px;
} */



/* .fade-out {
    animation: fade-out 1s forwards;
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  } */
  .fade-out {
    animation: fade-out 1s forwards;
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  /* .ping {
    animation: ping 1s infinite;
  }
  
  @keyframes ping {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  } */
















/* .app__wrapper_img {
    transition: transform 0.3s;
    cursor: pointer;
  }
  
.app__wrapper_img:hover {
    transform: scale(1.1);
  } */


.app__wrapper_img {
    
    transition: transform 0.3s;
    cursor: pointer;

  }
  
/* .app__wrapper_img:hover {
    opacity: 1;
    transform: scale(1.1);
  } */
  

  .app__wrapper_img {
    -webkit-animation-name: app__wrapper_img;
    animation-name: app__wrapper_img;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes app__wrapper_img {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    }
    @keyframes app__wrapper_img {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    } 



@media screen and (max-width: 2000px){
    .app__wrapper_img img{
        width:50%;
        height: 500px;
        
        border-radius: 10px;
    }
    .app__wrapper_img:hover > img{
        transition: opacity 1s, transform 1s;
    }
}

@media screen and (max-width: 900px){
    .app__wrapper_img img{
        /* width: 100%; */
        /* height: 600px; */
        margin: 2rem 0
    }
}

@media screen and (max-width: 420px){
    .app__wrapper_img img{
        width: 50%;
        height: 320px;
    }
}




@media screen and (max-width: 420px){
    .app__header-h1{
        font-size: 50px;
    }
}
@media screen and (max-width: 620px){
    .app__header-h1{
        font-size: 35px;
    }
}
